
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
   
      <li><a routerLink="/leads" routerLinkActive="active">Leads</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      <li><a routerLink="/programs" routerLinkActive="active">Programs</a></li>
      <li><a routerLink="/batches" routerLinkActive="active">Batches</a></li>
      <li><a routerLink="/aboutus" routerLinkActive="active">About</a></li>
      <li><a routerLink="/practicalTest" routerLinkActive="active">Practical Testng !</a></li>
    </ul>
  </div>
</nav>
