<div class="main_container">
  <img class="img-responsive" src="./assets/images/manumits_main_logo_300x300.png" alt="Manumits_logo"><br>
   <p class="text-primary" id="aboutus_container">
      Manumits IT Solutions is a Software Training and Development Center which is expertized in Advanced JavaScript Technologies like AngularJS, NodeJS, MongoDB, ReactJS, and jQuery. Developer perspective teaching and learning practices at Manumits helps the clients to improve Productivity and Quality. Our Project based 
      training and evaluation approach results into a tailor-made developer for Software Industry. Real-time examples at Training, Industry requirements based as Assignments, Support and assistance with Real-time developers and everyday assessments are our core strength.
  </p>
  </div>