<div *ngIf="divQuestionlist">
<div class="container quiz-container margintop">
  <div>
      <div class="row">
          <div class="col-lg-12">
              <div class="privew" >
                  <div class="questionsBox" *ngFor="let qitem of questions let i = index">
                      <div class="questions"><p>
                              <button class="btn btn-primary" (click)="editquestions(qitem)" >
                                  <i class="glyphicon glyphicon-pencil"></i>
                              </button>
                              <button class="btn btn-primary" (click)="deletequestions(qitem)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                          {{i+1}}) {{qitem.mcqquestion}}
                      
                      </p>
                      </div>
                      <ul class="answerList">
                          <li>
                              <label><input type="radio" name="" value="0" id="">{{qitem.option1}}</label>
                          </li>
                          <li>
                              <label><input type="radio" name="" value="1" id="">{{qitem.option2}} </label>
                          </li>
                          <li>
                              <label><input type="radio" name="" value="2" id="">{{qitem.option3}} </label>
                          </li>
                          <li>
                              <label><input type="radio" name="" value="3" id="">{{qitem.option4}} </label>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- {{questions|json}} -->
</div>
<div *ngIf="divEditselectedquestions">
 <div class="container quiz-container margintop">
    <div class="row">
      <div class="col-lg-6">
          <div class="form-group">
              <label for="question">Question:</label>
              <textarea class="form-control" rows="5" [(ngModel)]="currentQuestion.mcqquestion"></textarea>
            
          </div>
          <div class="form-group">
              <label for="Option1">Option1</label>
              <input type="text" class="form-control"  [(ngModel)]="currentQuestion.option1">
            </div>
      </div>
      <div class="col-lg-6">
          <div class="form-group">
              <label for="Option2">Option2</label>
              <input type="text" class="form-control" [(ngModel)]="currentQuestion.option2">
          </div>
          <div class="form-group">
              <label for="Option3">Option3</label>
              <input type="text" class="form-control" [(ngModel)]="currentQuestion.option3">   
          </div>
          <div class="form-group">
              <label for="Option4">Option4</label>
              <input type="text" class="form-control" [(ngModel)]="currentQuestion.option4">
            </div>
          <button class="btn btn-primary" (click)="updateQuestion(currentQuestion._id.$oid,data)">Update Data</button>
      </div>
</div>
</div>
